#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

div[aria-label="Draggable Marker"] {
  outline: none !important; /* Disable outline */
  box-shadow: none !important; /* Remove shadow */
}

